version: '3.0'

services:
  app:
    build: .
    container_name: user-service
    networks:
      - app_network
    ports:
      - 8080:8080
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: user-db
    networks:
      - app_network
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: currency_tracker
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:

networks:
  app_network:
